
.btn-primary:hover {
  transform: scale(1.1);
}
.slide-image img {
    max-height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: cover; */
    height: 350px;
    background-repeat: no-repeat;
    /* width:200px */
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  